<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <table class="table">
    <tr>
      <th><a class="btn btn-secondary" href="/" role="button">Home</a></th>
      <title> Dodaj komputer</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </tr>
  </table>
</head>
<body>
<div style="margin: 100px">
  <form action="/" method="POST">
    <label for="_id" hidden> _Id</label>
    <input class="form-control" hidden id="_id" type="text" name="_id" ><br>

    <label for="computerName"> Nazwa komputera</label>
    <input class="form-control" id="computerName" type="text" name="computerName" ><br>

    <label for="dateWhenDolarWasBroughtFromNBP_API">Wartośc dolara</label>
    <input class="form-control" id="dateWhenDolarWasBroughtFromNBP_API" type="date" name="dateWhenDolarWasBroughtFromNBP_API" ><br>

    <label for="computerPriceInDolars"> Cena w dolarach</label>
    <input class="form-control" id="computerPriceInDolars" type="text" name="computerPriceInDolars" ><br>


    <!--   <label for="updatesFromWebsite"> Updates </label>
       <input class="form-control" id="updatesFromWebsite" type="text" name="updatesFromWebsite" ><br>
       <label for="operation"> Operation</label>-->


    <!-- <select class="wrapper"  name="updatesFromWebsite">
         <option>loading</option>
         <option>discharging</option>
         (...)
     </select>-->
    <br><br>


    <button type="submit" class="btn btn-primary">Save</button>

  </form>
  <form>

  </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>